h1{
    outline-style: inherit;
    outline-color: green;
    outline-offset: 5px;
}
h1.pertama {                  /* penggunaan class dengan attribute tertentu */
    
    color: goldenrod;
    margin-bottom: 25px;
}
h1{
    border: forestgreen;
    border-top-style: double;
    border-bottom-style: inset;
}
/*
h1.pertama {
    visibility: hidden;         //tidak menampilkan, tetapi space di web masih kelihatan ada
} */
h1.pertama{
    background-color: rgb(135, 163, 108);
}

.clearfix {
    border-color: lawngreen;
    border-width: 10px;
    border-style: solid;
    margin-top: 5px;
    overflow: auto;
}

img.gambar1 {
    width: 720;
    height: 360;
    float: right;
    margin: 10px;
    max-width: 100%;        /*ukuran akan membesar, tapi kalau udah max ukuran asli, maka tetap */
    /*width: 100px; */      /*ukuran akan melebar sampai max layar */
    
}